<h1><u><text align ='center'>Survey On Data Science Topics</u></h1>
    <p><i><b>This is an analysis of the results procured from a survey regarding people interests in various Data Science Topics.
        The percentage respondents visualization is shown using Bargraph and Chloropleth Maps</b></i></p>

In [ ]:
import pandas as pd
df=pd.read_csv('https://cocl.us/datascience_survey_data')
df.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136

In [ ]:
df.columns = ['Topics','Very Interested','Somewhat Interested','Not Interested']
df.head()

In [3]:
dfsorted=df.sort_values(['Very Interested'], ascending=[False])
dfsorted.head()

,Topics,Very Interested,Somewhat Interested,Not Interested
1,Data Analysis / Statistics,1688,444,60
5,Machine Learning,1629,477,74
3,Data Visualization,1340,734,102
0,Big Data (Spark / Hadoop),1332,729,127
4,Deep Learning,1263,770,136

In [4]:
dfsorted['Very Interested']=round((dfsorted['Very Interested'] / 2233)*100,2)
dfsorted['Somewhat Interested']=round((dfsorted['Somewhat Interested'] / 2233)*100,2)
dfsorted['Not Interested']=round((dfsorted['Not Interested'] / 2233)*100,2)
dfsorted

,Topics,Very Interested,Somewhat Interested,Not Interested
1,Data Analysis / Statistics,75.59,19.88,2.69
5,Machine Learning,72.95,21.36,3.31
3,Data Visualization,60.01,32.87,4.57
0,Big Data (Spark / Hadoop),59.65,32.65,5.69
4,Deep Learning,56.56,34.48,6.09
2,Data Journalism,19.21,48.41,27.32

In [5]:
ax = dfsorted.plot(kind='bar', alpha=0.35, figsize=(20, 8),width=0.8, color=['#5cb85c', '#5bc0de', '#d9534f'])
ax.set_title('Percentage of Respondents Interest in Data Science Area',fontsize=14)
ax.set_ylabel('Number')
ax.set_xlabel('Topics')
ax.legend(fontsize = 14)
ax.set_frame_on(False)
ax.set_xlabel(False).set_visible(False)
ax.axes.get_yaxis().set_visible(False)
ax.set_xticklabels(('Data Analysis / Statistics','Machine Learning','Data Visualization','Big Data (Spark / Hadoop)','Deep Learning','Data Journalism'))

[Text(0, 0, 'Data Analysis / Statistics'),
 Text(0, 0, 'Machine Learning'),
 Text(0, 0, 'Data Visualization'),
 Text(0, 0, 'Big Data (Spark / Hadoop)'),
 Text(0, 0, 'Deep Learning'),
 Text(0, 0, 'Data Journalism')]

In [6]:
import numpy as np
df1=pd.read_csv('https://cocl.us/sanfran_crime_dataset')
df1.drop(['Category','Descript','DayOfWeek','Date','Time','Resolution','Address','X','Y','Location','PdId'], axis=1, inplace=True)
df1.rename(columns={'IncidntNum':'Count', 'PdDistrict':'Neighborhood'}, inplace=True)
df1.columns=list(map(str,df1.columns))
df1.set_index('Neighborhood',inplace=True)
df1.sort_values('Count',ascending=False)
df1=df1.groupby('Neighborhood').count()
df1.reset_index(inplace=True)
df1

  Neighborhood  Count
0      BAYVIEW  14303
1      CENTRAL  17666
2    INGLESIDE  11594
3      MISSION  19503
4     NORTHERN  20100
5         PARK   8699
6     RICHMOND   8922
7     SOUTHERN  28445
8      TARAVAL  11325
9   TENDERLOIN   9942

In [3]:
try:
    import ujson as json
except ImportError:
    try:
        import simplejson as json
    except ImportError:
        import json

In [4]:
#import json
#!conda install -c conda-forge folium=0.5.0 --yes
import folium
print('Folium installed and imported!')
from folium import plugins
!wget --quiet https://cocl.us/sanfran_geojson -O world_countries.json
print('GeoJSON file downloaded!')

ModuleNotFoundError: No module named 'folium'

In [ ]:
world_geo = r'world_countries.json'

latitude = 37.77
longitude = -122.42

world_map = folium.Map(location=[latitude,longitude], zoom_start=12)
world_map.choropleth(
    geo_data=world_geo,
    data=df1,
    columns=['Neighborhood', 'Count'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='San Francisco Crime Rate'
    
)
world_map